<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Let's Help</a>
      </div>
      <ul class="nav navbar-nav">
          <li class="nav-item active">
              <a class="nav-link" routerLink=""> Home
                <span class="sr-only">(current)</span> ​
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="github" routerLinkActive="active">GitHub</a>
            </li>
         
            <li class="nav-item">
              <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
        </li>
      </ul>

          <button routerLink="login" routerLinkActive="active" class="btn btn-default" style="margin-left: 490px; margin-top:10px">Login</button>

      <div style="float: right;"> 
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </nav>

<router-outlet></router-outlet>